.btn {
  display: inline-block;
  justify-content: center;
  align-items: center;
  border: 2px solid grey;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  color: white;
}

.dark {
  background-color: #2e2d2d;
}
.dark:hover {
  background-color: #000000;
}

.success {
  background-color: #32900d;
}
.success:hover {
  background-color: #09571a;
}
